.container {
    padding: 2rem 1rem;
    max-width: 900px;
    margin: 0 auto;
    min-height: 80vh;
}

.title {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

.controls {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.select {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    background-color: var(--surface);
    color: var(--foreground);
    border: 1px solid var(--border);
}

.orderCard {
    border: 1px solid var(--border);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.orderHeader {
    background-color: var(--surface);
    padding: 1rem 1.5rem;
    display: flex;
    gap: 3rem;
    border-bottom: 1px solid var(--border);
    font-size: 0.8rem;
}

.headerGroup {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.orderId {
    margin-left: auto;
    align-items: flex-end;
}

.label {
    color: var(--muted);
    text-transform: uppercase;
}

.value {
    color: var(--foreground);
    font-weight: 500;
}

.link {
    color: #3b82f6;
    /* Blue link */
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: #c2410c;
    /* Orange hover */
}

.links {
    display: flex;
    gap: 0.5rem;
}

.separator {
    color: var(--muted);
}

.orderBody {
    padding: 1.5rem;
    background-color: var(--background);
}

.deliveryStatus {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.item {
    display: flex;
    gap: 1.5rem;
}

.itemImage {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.itemInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.itemName {
    color: #3b82f6;
    font-weight: 500;
}

.itemName:hover {
    text-decoration: underline;
    color: #c2410c;
}

.buyAgainBtn {
    background-color: var(--primary);
    border: 1px solid transparent;
    width: fit-content;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.85rem;
    cursor: pointer;
    color: #000;
}

.buyAgainBtn:hover {
    background-color: var(--primary-hover);
}

.itemActions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 200px;
}

.actionBtn {
    background: transparent;
    border: 1px solid var(--border);
    padding: 0.4rem 1rem;
    border-radius: 8px;
    color: var(--foreground);
    cursor: pointer;
    font-size: 0.85rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.actionBtn:hover {
    background-color: var(--surface);
}

@media (max-width: 768px) {
    .orderHeader {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .item {
        flex-wrap: wrap;
    }

    .itemActions {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}