.button {
    background-color: var(--primary);
    color: #000;
    border: none;
    padding: 1rem;
    border-radius: var(--radius);
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
}

.button:hover {
    background-color: var(--primary-hover);
    transform: translateY(-2px);
}